/* Importing fonts */
@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Raleway:500,900);

.section-swiper-absoulte {
	min-height: 100vh;
}
.background-video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}
#hero h1 {
	font-family: 'Playfair Display', serif;
}
#awards .container {
	position: relative;
	padding-top: 2.5%;
	border-bottom: 3px solid #ee2b7b;
	border-left: 3px solid #ee2b7b;
}
#awards .container::before {
	content: '';
	background-color: #ee2b7b;
	position: absolute;
	top: 0;
	left: 0;
	height: 3px;
	width: 5%;
}
.award-pics {
	padding-top: 4%;
}
.events-section {
	margin-bottom: 5%;
}
.events-section .col-md-4 {
	padding: 0;
}
.works-details ~ .events-section .col-md-4 {
	padding: 10% 0;
}
.details-section ~ .events-section .col-md-4 {
	padding: 10% 0;
}
.details-section {
	margin-top: 5%;
	position: relative;
	border: 3px solid #ee2b7b;
	border-bottom: 0px;
	padding: 2.5% 0 30%;
	overflow: visible;
}
.details-section::after {
	content: '';
	position: absolute;
	bottom: 25%;
	right: 0;
	left: 0;
	width: 100%;
	height: 3px;
	border-right: 100px solid #ee2b7b;
	border-left: 100px solid #ee2b7b;
	margin: 0 auto;
}
.details-section .tape {
	position: absolute;
	bottom: 0;
	left: -3px;
	width: calc(100% + 6px);
	height: 25%;
	border-right: 3px solid #fff;
	border-left: 3px solid #fff;
	margin: 0 auto;
}
.works-details {
	margin: 5% auto 14%;
	position: relative;
	border: 3px solid #ee2b7b;
	border-bottom: 0px;
	padding: 0 0 15%;
}
.works-details::after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 3px;
	border-right: 100px solid #ee2b7b;
	border-left: 100px solid #ee2b7b;
	margin: 0 auto;
}
.details-section ~ .events-section h2,
.details-section h2 {
	font-size: 36px;
	text-align: center;
}
.works-details h2 {
	font-size: 16px;
}
.details-section h2 + p,
.details-section .heading-2 + p,
.details-section p + p {
	color: #000;
	font-family: 'PlayFair Display', sans-serif;
	font-weight: 400;
	margin: 2%;
	font-size: 18px;
	line-height: 1.4em;
	padding: 0;
	text-align: left;
}
.details-section .row h2 + p,
.details-section .row h2 + p:before,
.details-section .row h2 + p:after,
.details-section h2 + p,
.details-section h2 + p:before,
.details-section h2 + p:after {
	border: none;
}
.details-section .row h2 + p {
	text-align: center;
}
.details-section ul {
	font-family: 'PlayFair Display', sans-serif;
	color: #000;
	padding-left: 2%;
}
.details-section ul li::before {
	content: '\25CF';
	padding-right: 2%;
}
.details-section > a,
.details-section > a:focus,
.details-section > a:active {
	color: #d90e90;
	margin: 2% 0 0 3%;
}
.details-section > a::before {
	border: 2px solid #d90e90;
}
.details-section img,
.details-section iframe,
.details-section video {
	margin: auto;
	position: absolute;
	right: 0;
	left: 0;
	bottom: -5%;
	width: 75%;
	height: 60%;
}
.works-details iframe {
	bottom: -32%;
	height: 70%;
}
.works-details + .events-section {
	margin-bottom: 5%;
}
/* .events-section .col-md-4:after {
	content: '';
	display: block;
	background: transparent
		linear-gradient(60deg, rgb(237, 43, 124, 0.5), rgb(179, 42, 162, 0.5));
	padding-bottom: 100%;
	transition: background 0.3s ease;
}
.events-section .col-md-4:hover:after {
	background: linear-gradient(
		60deg,
		rgb(237, 43, 124, 0.8),
		rgb(179, 42, 162, 0.8)
	);
} */
/* .event-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent
		linear-gradient(60deg, rgb(237, 43, 124, 0.5), rgb(179, 42, 162, 0.5));
	transition: background 0.3s ease;
}
.events-section:hover .event-overlay {
	background: linear-gradient(
		60deg,
		rgb(237, 43, 124, 0.8),
		rgb(179, 42, 162, 0.8)
	);
} */
.bracket {
	border-right: 3px solid;
	border-left: 3px solid;
	position: relative;
}
.bracket:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 3px;
	border-right: 50px solid;
	border-left: 50px solid;
}
.bracket:after {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	height: 3px;
	border-right: 50px solid;
	border-left: 50px solid;
}
.artist {
	background-color: #ee2b7b;
}
.artist > * {
	padding: 0;
}
.artist .col-md-8 {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding: 0 2%;
}
.artist h2 {
	font-size: 36px;
}
.artist p {
	font-size: 18px;
	margin: 0;
	text-align: left;
	border: none;
}
.artist p:after,
.artist p:before {
	border: none;
}
.client {
	transform: scale(0.8);
	margin: auto;
}
.artist .book-btn {
	position: absolute;
	padding: 1rem 2rem;
	bottom: 0;
	right: 0;
	color: #fff;
	background-color: #3e4bb3;
}
.events-section > h2,
.works-section h2 {
	text-align: center;
	padding-bottom: 0.5em;
	color: #ee2c7c;
}
.details-section h2 {
	padding: 0;
}
figure.snip1432 {
	font-family: 'Raleway', Arial, sans-serif;
	color: #fff;
	position: relative;
	overflow: hidden;
	width: 100%;
	background: transparent
		linear-gradient(60deg, rgb(237, 43, 124, 0.9) 40%, rgb(179, 42, 162, 0.9));
	color: #ffffff;
	text-align: left;
}
figure.snip1432 * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}
figure.snip1432 img {
	opacity: 0.8;
	width: 100%;
	height: 100%;
	object-fit: cover;
	vertical-align: top;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}
figure.snip1432 figcaption,
.thumbnail figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
figure.snip1432 figcaption > div,
.thumbnail figcaption > div {
	height: 80%;
	overflow: hidden;
	width: 100%;
	position: relative;
}
.works-section .thumbnail figcaption > div {
	height: 90%;
}
figure.snip1432 h2,
figure.snip1432 h3,
.thumbnail h2,
.thumbnail h3 {
	margin: 0;
	position: absolute;
	left: 0;
	padding: 0 30px;
	color: #fff;
	text-transform: uppercase;
}
figure.snip1432 h2,
.thumbnail h2 {
	font-weight: 900;
	top: 0;
	font-size: 1.8em;
}
figure.snip1432 h3,
.thumbnail h3 {
	font-size: 1em;
	bottom: 0;
	font-weight: 500;
}
.works-section .thumbnail h2 {
	top: auto;
	bottom: 0;
}
.works-section .thumbnail h3 {
	bottom: auto;
	top: 0;
}
figure.snip1432 h3:nth-of-type(2) {
	opacity: 0;
	-webkit-transform: translateY(150%);
	transform: translateY(150%);
}
/* .thumbnail a:hover {
	background: transparent linear-gradient(180deg, #000000c9, transparent);
} */

.works-page figure.thumbnail a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
}
figure.snip1432 a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	background: transparent linear-gradient(180deg, #00000078, transparent);
	transition: 0.3s;
	/* min-width: 100%; */
}
figure.snip1432:hover a {
	background: transparent;
}
figure.snip1432:hover img,
figure.snip1432.hover img {
	opacity: 0.3;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}
figure.snip1432:hover figcaption h3:first-of-type,
figure.snip1432.hover figcaption h3:first-of-type {
	-webkit-transform: translateY(150%);
	transform: translateY(150%);
	opacity: 0;
}
figure.snip1432:hover figcaption h3:nth-of-type(2),
figure.snip1432.hover figcaption h3:nth-of-type(2) {
	opacity: 1;
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}
.events-section .thumbnail::after {
	background-color: transparent;
}
#awards {
	padding: 5%;
}
#awards.parallax-overlay-gradient-primary:before,
#awards.parallax-overlay-gradient-primary-1:before {
	background: #fff;
}
#awards.parallax-overlay-gradient-primary:after,
#awards.parallax-overlay-gradient-primary-1:after {
	background: #fff;
}
#awards .block-lg h6,
#awards .block-lg h4,
#awards .block-lg h3,
#awards .block-lg p {
	color: #ababab;
	font-family: 'PlayFair Display', sans-serif;
	font-weight: 400;
}
#awards .block-lg h3,
#awards .block-lg h4 {
	text-transform: none;
	color: #ee2b7b;
}
.award-img {
	width: 28%;
	justify-content: center;
}
.video-link .icon {
	font-size: 40px;
}
.details-section .row,
.works-section .row {
	padding: 5% 0;
}
.thumbnail::after {
	content: '';
	position: absolute;
	height: 10px;
	width: 100%;
	bottom: 0;
	left: 0;
	background-color: #ee2b7b;
}
/* .after-circle {
	position: relative;
}
.after-circle::first-letter {
	position: relative;
}
.after-circle::first-letter {
	content: '';
	position: absolute;
	z-index: 9;
	top: 0;
	left: -9px;
	width: 10px;
	height: 10px;
	padding: 0;
	border: 1px solid #ee2b7b;
	background: #ffa800;
	border-radius: 50%;
} */
.works-section figure img,
.works-page figure img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.works-section figure:hover img,
.works-page figure:hover img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}

/* ============================ About Page ============================ */

.image-bottom {
	position: absolute;
	bottom: 0;
}

/* ============================ Auudio Visual Production ============================ */

.tabs .row .col-md-3 {
	padding-left: 0;
	padding-right: 0;
}
.tabs .col-md-3 button {
	width: 100%;
	padding: 20px 29px;
}
.avx {
	position: relative;
	min-height: 360vh;
}
.avx .services {
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	transition: 0.5s linear;
}
.services .container-fluid {
	padding: 0;
}
.services .row {
	background: rgba(0, 0, 0, 0.52) url(../img/services-bottom.jpg) no-repeat
		center;
	background-size: cover;
	height: 90vh;
	margin: 0;
	position: relative;
}
.celeb-color-div {
	position: absolute;
	display: flex;
	justify-content: center;
	width: 50%;
	background-color: rgba(238, 43, 123, 0.8);
	color: white;
	line-height: 1.7rem;
	padding: 2% 3%;
}
.center-left {
	top: 27.5%;
	left: 0;
}
.bottom {
	bottom: 0;
	margin: 0 27.5%;
}
.bottom-right {
	bottom: 0;
	right: 0;
}
.center-slight-left {
	top: 25%;
	left: 15%;
}
.info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: auto 0;
	width: 75%;
}
.celeb-color-div h3 {
	color: #fff;
	font-size: 44pt;
}
.info p {
	margin-bottom: 1em;
	margin-top: 1em;
}
a.service-btn {
	background-color: #336;
	color: white;
	font-weight: 300;
	display: flex;
	justify-content: space-between;
	padding: 2%;
	width: 40%;
}
.pricing-modern-header {
	position: relative;
	z-index: 1;
}
.pricing-modern h6,
.pricing-modern p {
	z-index: 3;
}
.p1::before {
	background-image: url(../images/people-having-fun-wedding-hall_1303-19593.jpg);
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.5;
	z-index: 0;
}
.p2::before {
	background-image: url(../images/bunch-flowers-leaves-table_1304-4187.jpg);
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.5;
	z-index: 0;
}
.p3::before {
	content: '';
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-image: url(../images/close-up-recording-video-with-smartphone-during-concert_1153-7310.jpg);
	opacity: 0.5;
	z-index: 0;
}
/* ============================ Responsive ============================ */
@media (min-width: 1200px) {
	.section-swiper-absoulte .section-swiper-content {
		height: 100vh;
	}
	.events-section * + .row {
		margin-top: 5%;
	}
	.events-section .row + .row {
		margin-top: 0;
	}
	.thumbnail {
		height: 500px;
	}
	.details-section * + .row {
		margin: 0;
	}
}
