<!-- Section Photo Gallery-->
<section
	class="parallax-container section"
	data-parallax-img="images/bg-parallax-03-1894x1662.jpg"
>
	<div
		class="
			parallax-content
			section-lg
			context-dark
			text-center
			parallax-overlay-gradient-primary-1
		"
	>
		<div class="container container-wide">
			<h6>event album</h6>
			<h3>Photo Gallery.</h3>
			<div
				class="
					row row-ten row-narrow row-30 row-lg-50
					justify-content-center
				"
				data-lightgallery="group"
			>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a
								class="thumbnail"
								href="images/gallery-01-original-1200x800.jpg"
								data-lightgallery="item"
								data-triangle=".thumbnail-overlay"
								><span class="thumbnail-overlay"></span
								><span class="thumbnail-icon"></span
								><img
									src="images/gallery-01-298x343.jpg"
									alt=""
									width="298"
									height="343"
							/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a
								class="thumbnail"
								href="images/gallery-02-original-1200x800.jpg"
								data-lightgallery="item"
								data-triangle=".thumbnail-overlay"
								><span class="thumbnail-overlay"></span
								><span class="thumbnail-icon"></span
								><img
									src="images/gallery-02-298x343.jpg"
									alt=""
									width="298"
									height="343"
							/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a
								class="thumbnail"
								href="images/gallery-03-original-1200x800.jpg"
								data-lightgallery="item"
								data-triangle=".thumbnail-overlay"
								><span class="thumbnail-overlay"></span
								><span class="thumbnail-icon"></span
								><img
									src="images/gallery-03-298x343.jpg"
									alt=""
									width="298"
									height="343"
							/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a
								class="thumbnail"
								href="images/gallery-04-original-1200x800.jpg"
								data-lightgallery="item"
								data-triangle=".thumbnail-overlay"
								><span class="thumbnail-overlay"></span
								><span class="thumbnail-icon"></span
								><img
									src="images/gallery-04-298x343.jpg"
									alt=""
									width="298"
									height="343"
							/></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-md-3 col-lg-2">
					<div class="wow">
						<div>
							<!-- Gallery Thumbnail--><a
								class="thumbnail"
								href="images/gallery-05-original-1200x800.jpg"
								data-lightgallery="item"
								data-triangle=".thumbnail-overlay"
								><span class="thumbnail-overlay"></span
								><span class="thumbnail-icon"></span
								><img
									src="images/gallery-05-298x343.jpg"
									alt=""
									width="298"
									height="343"
							/></a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<p class="font-weight-sbold font-secondary">
						<span
							>Don’t hesitate, contact us for better help and
							services.</span
						>
						<a class="link-inline" href="#">Book Ticket Now</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>