<!-- Section Our Testimonials-->
<section class="section parallax-js section-lg bg-default text-center">
	<div class="container">
		<h6>what they say</h6>
		<h3>our Testimonials.</h3>
		<div class="row row-30 justify-content-center">
			<div class="col-md-10 col-lg-8">
				<div
					class="slick-slider child-slick-slider"
					id="child-carousel"
					data-for=".carousel-parent"
					data-arrows="true"
					data-loop="false"
					data-dots="false"
					data-swipe="true"
					data-items="3"
					data-sm-items="3"
					data-md-items="3"
					data-lg-items="3"
					data-xl-items="3"
					data-slide-to-scroll="1"
				>
					<div class="item">
						<a
							><img
								src="images/testimonial-thumb-01-80x80.jpg"
								alt=""
								width="80"
								height="80"
						/></a>
					</div>
					<div class="item">
						<a
							><img
								src="images/testimonial-thumb-02-80x80.jpg"
								alt=""
								width="80"
								height="80"
						/></a>
					</div>
					<div class="item">
						<a
							><img
								src="images/testimonial-thumb-03-80x80.jpg"
								alt=""
								width="80"
								height="80"
						/></a>
					</div>
				</div>
				<div
					class="slick-slider carousel-parent"
					data-arrows="false"
					data-loop="true"
					data-autoplay="true"
					data-dots="false"
					data-swipe="true"
					data-items="1"
					data-child="#child-carousel"
					data-for="#child-carousel"
				>
					<div class="item">
						<div class="testimonial">
							<div class="wow fadeIn">
								<!-- Testimonial-->
								<p class="testimonial-text heading-4">
									Cum luna manducare, omnes historiaes magicae fortis, brevis
									lanistaes. Eheu, nobilis agripeta! Teres, pius animaliss foris
									imperium de.
								</p>
								<ul class="list-inline">
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span
											class="icon icon-sm icon-secondary fa-star-half-empty"
										></span>
									</li>
								</ul>
								<div class="testimonial-footer">
									<a class="testimonial-name" href="#">Sarah Rose</a>
									<span class="testimonial-cite">- Our Customers</span>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial">
							<div class="wow fadeIn">
								<!-- Testimonial-->
								<p class="testimonial-text heading-4">
									This is due to their excellent service, competitive pricing
									and customer support. It’s throughly refresing to get such a
									personal touch.
								</p>
								<ul class="list-inline">
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span
											class="icon icon-sm icon-secondary fa-star-half-empty"
										></span>
									</li>
								</ul>
								<div class="testimonial-footer">
									<a class="testimonial-name" href="#">Kevin Martin</a>
									<span class="testimonial-cite">- Our Customers</span>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial">
							<div class="wow fadeIn">
								<!-- Testimonial-->
								<p class="testimonial-text heading-4">
									Pes rusticus brabeuta est. Pol, talis lapsus! Contencio de
									fidelis palus, transferre brodium! Germanus, varius decors
									aliquando gratia de.
								</p>
								<ul class="list-inline">
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
								</ul>
								<div class="testimonial-footer">
									<a class="testimonial-name" href="#">Jesscia Brown</a>
									<span class="testimonial-cite">- Our Customers</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer layer-01">
		<svg
			width="126"
			height="126"
			viewbox="0 0 126 126"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<mask
				id="mask0"
				maskunits="userSpaceOnUse"
				x="0"
				y="0"
				width="126"
				height="126"
			>
				<path
					d="M126 63C126 97.7939 97.7939 126 63 126C28.2061 126 0 97.7939 0 63C0 28.2061 28.2061 0 63 0C97.7939 0 126 28.2061 126 63Z"
				></path>
			</mask>
			<g mask="url(#mask0)">
				<path
					d="M61.2694 -27.0047L-26.9917 61.2563L-22.5793 65.6687L65.6817 -22.5924L61.2694 -27.0047Z"
				></path>
				<path
					d="M71.0589 -17.2147L-17.2021 71.0464L-12.7898 75.4587L75.4712 -12.8023L71.0589 -17.2147Z"
				></path>
				<path
					d="M80.8724 -7.39484L-7.38867 80.8662L-2.97632 85.2786L85.2847 -2.98249L80.8724 -7.39484Z"
				></path>
				<path
					d="M90.6785 2.42205L2.41748 90.6831L6.82983 95.0955L95.0909 6.83441L90.6785 2.42205Z"
				></path>
				<path
					d="M100.485 12.215L12.2236 100.476L16.636 104.888L104.897 16.6274L100.485 12.215Z"
				></path>
				<path
					d="M110.298 22.0353L22.0371 110.296L26.4495 114.709L114.711 26.4476L110.298 22.0353Z"
				></path>
				<path
					d="M120.095 31.8322L31.8335 120.093L36.2458 124.506L124.507 36.2445L120.095 31.8322Z"
				></path>
				<path
					d="M129.901 41.6452L41.6401 129.906L46.0525 134.319L134.314 46.0575L129.901 41.6452Z"
				></path>
				<path
					d="M139.698 51.4421L51.4365 139.703L55.8489 144.115L144.11 55.8544L139.698 51.4421Z"
				></path>
				<path
					d="M149.521 61.2721L61.2598 149.533L65.6721 153.946L153.933 65.6845L149.521 61.2721Z"
				></path>
			</g>
		</svg>
	</div>
	<div class="layer layer-02">
		<svg
			width="95"
			height="65"
			viewbox="0 0 95 65"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle cx="2.50049" cy="62.5005" r="2.5"></circle>
			<circle cx="20.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="38.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="56.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="74.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="92.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="2.50049" cy="42.5005" r="2.5"></circle>
			<circle cx="20.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="38.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="56.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="74.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="92.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="2.50049" cy="22.5005" r="2.5"></circle>
			<circle cx="20.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="38.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="56.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="74.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="92.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="2.50049" cy="2.50049" r="2.5"></circle>
			<circle cx="20.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="38.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="56.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="74.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="92.5005" cy="2.50049" r="2.5"></circle>
		</svg>
	</div>
	<div class="layer layer-03">
		<svg
			width="26"
			height="18"
			viewbox="0 0 26 18"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M13 0L25.1244 18H0.875645L13 0Z"></path>
		</svg>
	</div>
	<div class="layer layer-04">
		<svg
			width="83"
			height="83"
			viewbox="0 0 83 83"
			xmlns="http://www.w3.org/2000/svg"
		>
			<rect
				y="41.0122"
				width="58"
				height="58"
				transform="rotate(-45 0 41.0122)"
			></rect>
		</svg>
	</div>
	<div class="layer layer-05">
		<svg
			width="103"
			height="103"
			viewbox="0 0 103 103"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle
				cx="60.9647"
				cy="98.604"
				r="2.5"
				transform="rotate(-45 60.9647 98.604)"
			></circle>
			<circle
				cx="73.6928"
				cy="85.876"
				r="2.5"
				transform="rotate(-45 73.6928 85.876)"
			></circle>
			<circle
				cx="86.4208"
				cy="73.1479"
				r="2.5"
				transform="rotate(-45 86.4208 73.1479)"
			></circle>
			<circle
				cx="99.1483"
				cy="60.4204"
				r="2.5"
				transform="rotate(-45 99.1483 60.4204)"
			></circle>
			<circle
				cx="46.8226"
				cy="84.4619"
				r="2.5"
				transform="rotate(-45 46.8226 84.4619)"
			></circle>
			<circle
				cx="59.5507"
				cy="71.7339"
				r="2.5"
				transform="rotate(-45 59.5507 71.7339)"
			></circle>
			<circle
				cx="72.2787"
				cy="59.0059"
				r="2.5"
				transform="rotate(-45 72.2787 59.0059)"
			></circle>
			<circle
				cx="85.0062"
				cy="46.2783"
				r="2.5"
				transform="rotate(-45 85.0062 46.2783)"
			></circle>
			<circle
				cx="32.6806"
				cy="70.3198"
				r="2.5"
				transform="rotate(-45 32.6806 70.3198)"
			></circle>
			<circle
				cx="45.4086"
				cy="57.5918"
				r="2.5"
				transform="rotate(-45 45.4086 57.5918)"
			></circle>
			<circle
				cx="58.1366"
				cy="44.8638"
				r="2.5"
				transform="rotate(-45 58.1366 44.8638)"
			></circle>
			<circle
				cx="18.5385"
				cy="56.1777"
				r="2.5"
				transform="rotate(-45 18.5385 56.1777)"
			></circle>
			<circle
				cx="31.2665"
				cy="43.4497"
				r="2.5"
				transform="rotate(-45 31.2665 43.4497)"
			></circle>
			<circle
				cx="4.39637"
				cy="42.0356"
				r="2.5"
				transform="rotate(-45 4.39637 42.0356)"
			></circle>
		</svg>
	</div>
	<div class="layer layer-06">
		<div class="layer-06-inner">
			<svg
				width="18"
				height="18"
				viewbox="0 0 18 18"
				xmlns="http://www.w3.org/2000/svg"
			>
				<circle cx="9" cy="9" r="9"></circle>
			</svg>
		</div>
	</div>
	<div class="layer layer-07">
		<div class="layer-07-inner">
			<svg
				width="18"
				height="18"
				viewbox="0 0 18 18"
				xmlns="http://www.w3.org/2000/svg"
			>
				<circle cx="9" cy="9" r="9"></circle>
			</svg>
		</div>
	</div>
	<div class="layer layer-08">
		<svg
			width="127"
			height="91"
			viewbox="0 0 127 91"
			xmlns="http://www.w3.org/2000/svg"
		>
			<line x1="24.544" y1="0.646447" x2="113.639" y2="89.7419"></line>
			<line x1="36.6392" y1="0.646447" x2="125.735" y2="89.7419"></line>
			<line x1="0.353553" y1="0.646447" x2="89.449" y2="89.7419"></line>
			<line x1="12.4488" y1="0.646447" x2="101.544" y2="89.7419"></line>
		</svg>
	</div>
	<div class="layer layer-09">
		<svg
			width="122"
			height="122"
			viewbox="0 0 122 122"
			xmlns="http://www.w3.org/2000/svg"
		>
			<mask
				id="mask1"
				maskunits="userSpaceOnUse"
				x="17"
				y="17"
				width="87"
				height="87"
			>
				<path
					d="M91.2168 30.4054C108.009 47.198 108.009 74.4241 91.2168 91.2166C74.4242 108.009 47.1981 108.009 30.4056 91.2166C13.613 74.4241 13.613 47.198 30.4056 30.4054C47.1981 13.6129 74.4242 13.6129 91.2168 30.4054Z"
				></path>
			</mask>
			<g mask="url(#mask1)">
				<path d="M16.5371 18.2077V103.402H20.7962V18.2077H16.5371Z"></path>
				<path d="M25.9868 18.2078V103.402H30.2459V18.2078H25.9868Z"></path>
				<path d="M35.4624 18.2107V103.405H39.7215V18.2107H35.4624Z"></path>
				<path d="M44.9331 18.2161V103.411H49.1922V18.2161H44.9331Z"></path>
				<path d="M54.3921 18.2097V103.404H58.6511V18.2097H54.3921Z"></path>
				<path d="M63.8677 18.2126V103.407H68.1267V18.2126H63.8677Z"></path>
				<path d="M73.3242 18.2131V103.408H77.5833V18.2131H73.3242Z"></path>
				<path d="M82.7935 18.216V103.411H87.0525V18.216H82.7935Z"></path>
				<path d="M92.2495 18.2165V103.411H96.5086V18.2165H92.2495Z"></path>
				<path d="M101.735 18.2199V103.415H105.994V18.2199H101.735Z"></path>
			</g>
		</svg>
	</div>
	<div class="layer layer-10">
		<svg
			width="53"
			height="48"
			viewbox="0 0 53 48"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M21.5295 5.85179L52.1481 36.4704L10.3223 47.6776L21.5295 5.85179Z"
			></path>
		</svg>
	</div>
</section>
<hr />
<!-- Section With Counters-->
<section class="section section-md bg-default text-center">
	<div class="container">
		<div class="row row-30 row-bordered">
			<div class="col-6 col-md-3 row-bordered-item">
				<div class="wow fadeInUp" data-wow-delay=".3">
					<!--Counter-->
					<div class="box-counter">
						<div class="box-counter-main">
							<div class="counter">250</div>
						</div>
						<p class="box-counter-title">Speakers</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 row-bordered-item">
				<div class="wow fadeInUp" data-wow-delay=".4">
					<!--Counter-->
					<div class="box-counter">
						<div class="box-counter-main">
							<div class="counter">1473</div>
						</div>
						<p class="box-counter-title">Tickets</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 row-bordered-item">
				<div class="wow fadeInUp" data-wow-delay=".5">
					<!--Counter-->
					<div class="box-counter">
						<div class="box-counter-main">
							<div class="counter">2347</div>
						</div>
						<p class="box-counter-title">Sponsors</p>
					</div>
				</div>
			</div>
			<div class="col-6 col-md-3 row-bordered-item">
				<div class="wow fadeInUp" data-wow-delay=".6">
					<!--Counter-->
					<div class="box-counter">
						<div class="box-counter-main">
							<div class="counter">60</div>
						</div>
						<p class="box-counter-title">Sessions</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--Google Map-->
<section class="section">
	<!--Please, add the data attribute data-key='YOUR_API_KEY' in order to insert your own API key for the Google map.-->
	<!--Please note that YOUR_API_KEY should replaced with your key.-->
	<!--Example: <div class='google-map-container' data-key='YOUR_API_KEY'>-->
	<div
		class="google-map-container"
		data-center="Central Park, New York, US"
		data-key="AIzaSyBUPsDPtyZG7EPBB2XDN55Rxt_fYUoc4Ak"
		data-zoom="15"
		data-icon="images/gmap_marker.png"
		data-icon-active="images/gmap_marker_active.png"
		data-styles='[{"featureType":"landscape","stylers":[{"saturation":-100},{"lightness":60}]},{"featureType":"road.local","stylers":[{"saturation":-100},{"lightness":40},{"visibility":"on"}]},{"featureType":"transit","stylers":[{"saturation":-100},{"visibility":"simplified"}]},{"featureType":"administrative.province","stylers":[{"visibility":"off"}]},{"featureType":"water","stylers":[{"visibility":"on"},{"lightness":30}]},{"featureType":"road.highway","elementType":"geometry.fill","stylers":[{"color":"#ef8c25"},{"lightness":40}]},{"featureType":"road.highway","elementType":"geometry.stroke","stylers":[{"visibility":"off"}]},{"featureType":"poi.park","elementType":"geometry.fill","stylers":[{"color":"#b6c54c"},{"lightness":40},{"saturation":-40}]},{}]'
	>
		<div class="google-map"></div>
		<ul class="google-map-markers">
			<li
				data-location="Central Park, New York, US"
				data-description="Central Park, New York, US"
			></li>
		</ul>
	</div>
</section>
<!-- Section Our Testimonials-->
<section class="section parallax-js section-lg bg-default text-center">
	<div class="container">
		<h6>what they say</h6>
		<h3>our Testimonials.</h3>
		<div class="row row-30 justify-content-center">
			<div class="col-md-10 col-lg-8">
				<div
					class="slick-slider child-slick-slider"
					id="child-carousel"
					data-for=".carousel-parent"
					data-arrows="true"
					data-loop="false"
					data-dots="false"
					data-swipe="true"
					data-items="3"
					data-sm-items="3"
					data-md-items="3"
					data-lg-items="3"
					data-xl-items="3"
					data-slide-to-scroll="1"
				>
					<div class="item">
						<a
							><img
								src="images/testimonial-thumb-01-80x80.jpg"
								alt=""
								width="80"
								height="80"
						/></a>
					</div>
					<div class="item">
						<a
							><img
								src="images/testimonial-thumb-02-80x80.jpg"
								alt=""
								width="80"
								height="80"
						/></a>
					</div>
					<div class="item">
						<a
							><img
								src="images/testimonial-thumb-03-80x80.jpg"
								alt=""
								width="80"
								height="80"
						/></a>
					</div>
				</div>
				<div
					class="slick-slider carousel-parent"
					data-arrows="false"
					data-loop="true"
					data-autoplay="true"
					data-dots="false"
					data-swipe="true"
					data-items="1"
					data-child="#child-carousel"
					data-for="#child-carousel"
				>
					<div class="item">
						<div class="testimonial">
							<div class="wow fadeIn">
								<!-- Testimonial-->
								<p class="testimonial-text heading-4">
									Cum luna manducare, omnes historiaes magicae fortis, brevis
									lanistaes. Eheu, nobilis agripeta! Teres, pius animaliss foris
									imperium de.
								</p>
								<ul class="list-inline">
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span
											class="icon icon-sm icon-secondary fa-star-half-empty"
										></span>
									</li>
								</ul>
								<div class="testimonial-footer">
									<a class="testimonial-name" href="#">Sarah Rose</a>
									<span class="testimonial-cite">- Our Customers</span>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial">
							<div class="wow fadeIn">
								<!-- Testimonial-->
								<p class="testimonial-text heading-4">
									This is due to their excellent service, competitive pricing
									and customer support. It’s throughly refresing to get such a
									personal touch.
								</p>
								<ul class="list-inline">
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span
											class="icon icon-sm icon-secondary fa-star-half-empty"
										></span>
									</li>
								</ul>
								<div class="testimonial-footer">
									<a class="testimonial-name" href="#">Kevin Martin</a>
									<span class="testimonial-cite">- Our Customers</span>
								</div>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimonial">
							<div class="wow fadeIn">
								<!-- Testimonial-->
								<p class="testimonial-text heading-4">
									Pes rusticus brabeuta est. Pol, talis lapsus! Contencio de
									fidelis palus, transferre brodium! Germanus, varius decors
									aliquando gratia de.
								</p>
								<ul class="list-inline">
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
									<li>
										<span class="icon icon-sm icon-secondary fa-star"></span>
									</li>
								</ul>
								<div class="testimonial-footer">
									<a class="testimonial-name" href="#">Jesscia Brown</a>
									<span class="testimonial-cite">- Our Customers</span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="layer layer-01">
		<svg
			width="126"
			height="126"
			viewbox="0 0 126 126"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<mask
				id="mask0"
				maskunits="userSpaceOnUse"
				x="0"
				y="0"
				width="126"
				height="126"
			>
				<path
					d="M126 63C126 97.7939 97.7939 126 63 126C28.2061 126 0 97.7939 0 63C0 28.2061 28.2061 0 63 0C97.7939 0 126 28.2061 126 63Z"
				></path>
			</mask>
			<g mask="url(#mask0)">
				<path
					d="M61.2694 -27.0047L-26.9917 61.2563L-22.5793 65.6687L65.6817 -22.5924L61.2694 -27.0047Z"
				></path>
				<path
					d="M71.0589 -17.2147L-17.2021 71.0464L-12.7898 75.4587L75.4712 -12.8023L71.0589 -17.2147Z"
				></path>
				<path
					d="M80.8724 -7.39484L-7.38867 80.8662L-2.97632 85.2786L85.2847 -2.98249L80.8724 -7.39484Z"
				></path>
				<path
					d="M90.6785 2.42205L2.41748 90.6831L6.82983 95.0955L95.0909 6.83441L90.6785 2.42205Z"
				></path>
				<path
					d="M100.485 12.215L12.2236 100.476L16.636 104.888L104.897 16.6274L100.485 12.215Z"
				></path>
				<path
					d="M110.298 22.0353L22.0371 110.296L26.4495 114.709L114.711 26.4476L110.298 22.0353Z"
				></path>
				<path
					d="M120.095 31.8322L31.8335 120.093L36.2458 124.506L124.507 36.2445L120.095 31.8322Z"
				></path>
				<path
					d="M129.901 41.6452L41.6401 129.906L46.0525 134.319L134.314 46.0575L129.901 41.6452Z"
				></path>
				<path
					d="M139.698 51.4421L51.4365 139.703L55.8489 144.115L144.11 55.8544L139.698 51.4421Z"
				></path>
				<path
					d="M149.521 61.2721L61.2598 149.533L65.6721 153.946L153.933 65.6845L149.521 61.2721Z"
				></path>
			</g>
		</svg>
	</div>
	<div class="layer layer-02">
		<svg
			width="95"
			height="65"
			viewbox="0 0 95 65"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle cx="2.50049" cy="62.5005" r="2.5"></circle>
			<circle cx="20.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="38.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="56.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="74.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="92.5005" cy="62.5005" r="2.5"></circle>
			<circle cx="2.50049" cy="42.5005" r="2.5"></circle>
			<circle cx="20.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="38.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="56.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="74.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="92.5005" cy="42.5005" r="2.5"></circle>
			<circle cx="2.50049" cy="22.5005" r="2.5"></circle>
			<circle cx="20.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="38.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="56.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="74.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="92.5005" cy="22.5005" r="2.5"></circle>
			<circle cx="2.50049" cy="2.50049" r="2.5"></circle>
			<circle cx="20.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="38.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="56.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="74.5005" cy="2.50049" r="2.5"></circle>
			<circle cx="92.5005" cy="2.50049" r="2.5"></circle>
		</svg>
	</div>
	<div class="layer layer-03">
		<svg
			width="26"
			height="18"
			viewbox="0 0 26 18"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path d="M13 0L25.1244 18H0.875645L13 0Z"></path>
		</svg>
	</div>
	<div class="layer layer-04">
		<svg
			width="83"
			height="83"
			viewbox="0 0 83 83"
			xmlns="http://www.w3.org/2000/svg"
		>
			<rect
				y="41.0122"
				width="58"
				height="58"
				transform="rotate(-45 0 41.0122)"
			></rect>
		</svg>
	</div>
	<div class="layer layer-05">
		<svg
			width="103"
			height="103"
			viewbox="0 0 103 103"
			xmlns="http://www.w3.org/2000/svg"
		>
			<circle
				cx="60.9647"
				cy="98.604"
				r="2.5"
				transform="rotate(-45 60.9647 98.604)"
			></circle>
			<circle
				cx="73.6928"
				cy="85.876"
				r="2.5"
				transform="rotate(-45 73.6928 85.876)"
			></circle>
			<circle
				cx="86.4208"
				cy="73.1479"
				r="2.5"
				transform="rotate(-45 86.4208 73.1479)"
			></circle>
			<circle
				cx="99.1483"
				cy="60.4204"
				r="2.5"
				transform="rotate(-45 99.1483 60.4204)"
			></circle>
			<circle
				cx="46.8226"
				cy="84.4619"
				r="2.5"
				transform="rotate(-45 46.8226 84.4619)"
			></circle>
			<circle
				cx="59.5507"
				cy="71.7339"
				r="2.5"
				transform="rotate(-45 59.5507 71.7339)"
			></circle>
			<circle
				cx="72.2787"
				cy="59.0059"
				r="2.5"
				transform="rotate(-45 72.2787 59.0059)"
			></circle>
			<circle
				cx="85.0062"
				cy="46.2783"
				r="2.5"
				transform="rotate(-45 85.0062 46.2783)"
			></circle>
			<circle
				cx="32.6806"
				cy="70.3198"
				r="2.5"
				transform="rotate(-45 32.6806 70.3198)"
			></circle>
			<circle
				cx="45.4086"
				cy="57.5918"
				r="2.5"
				transform="rotate(-45 45.4086 57.5918)"
			></circle>
			<circle
				cx="58.1366"
				cy="44.8638"
				r="2.5"
				transform="rotate(-45 58.1366 44.8638)"
			></circle>
			<circle
				cx="18.5385"
				cy="56.1777"
				r="2.5"
				transform="rotate(-45 18.5385 56.1777)"
			></circle>
			<circle
				cx="31.2665"
				cy="43.4497"
				r="2.5"
				transform="rotate(-45 31.2665 43.4497)"
			></circle>
			<circle
				cx="4.39637"
				cy="42.0356"
				r="2.5"
				transform="rotate(-45 4.39637 42.0356)"
			></circle>
		</svg>
	</div>
	<div class="layer layer-06">
		<div class="layer-06-inner">
			<svg
				width="18"
				height="18"
				viewbox="0 0 18 18"
				xmlns="http://www.w3.org/2000/svg"
			>
				<circle cx="9" cy="9" r="9"></circle>
			</svg>
		</div>
	</div>
	<div class="layer layer-07">
		<div class="layer-07-inner">
			<svg
				width="18"
				height="18"
				viewbox="0 0 18 18"
				xmlns="http://www.w3.org/2000/svg"
			>
				<circle cx="9" cy="9" r="9"></circle>
			</svg>
		</div>
	</div>
	<div class="layer layer-08">
		<svg
			width="127"
			height="91"
			viewbox="0 0 127 91"
			xmlns="http://www.w3.org/2000/svg"
		>
			<line x1="24.544" y1="0.646447" x2="113.639" y2="89.7419"></line>
			<line x1="36.6392" y1="0.646447" x2="125.735" y2="89.7419"></line>
			<line x1="0.353553" y1="0.646447" x2="89.449" y2="89.7419"></line>
			<line x1="12.4488" y1="0.646447" x2="101.544" y2="89.7419"></line>
		</svg>
	</div>
	<div class="layer layer-09">
		<svg
			width="122"
			height="122"
			viewbox="0 0 122 122"
			xmlns="http://www.w3.org/2000/svg"
		>
			<mask
				id="mask1"
				maskunits="userSpaceOnUse"
				x="17"
				y="17"
				width="87"
				height="87"
			>
				<path
					d="M91.2168 30.4054C108.009 47.198 108.009 74.4241 91.2168 91.2166C74.4242 108.009 47.1981 108.009 30.4056 91.2166C13.613 74.4241 13.613 47.198 30.4056 30.4054C47.1981 13.6129 74.4242 13.6129 91.2168 30.4054Z"
				></path>
			</mask>
			<g mask="url(#mask1)">
				<path d="M16.5371 18.2077V103.402H20.7962V18.2077H16.5371Z"></path>
				<path d="M25.9868 18.2078V103.402H30.2459V18.2078H25.9868Z"></path>
				<path d="M35.4624 18.2107V103.405H39.7215V18.2107H35.4624Z"></path>
				<path d="M44.9331 18.2161V103.411H49.1922V18.2161H44.9331Z"></path>
				<path d="M54.3921 18.2097V103.404H58.6511V18.2097H54.3921Z"></path>
				<path d="M63.8677 18.2126V103.407H68.1267V18.2126H63.8677Z"></path>
				<path d="M73.3242 18.2131V103.408H77.5833V18.2131H73.3242Z"></path>
				<path d="M82.7935 18.216V103.411H87.0525V18.216H82.7935Z"></path>
				<path d="M92.2495 18.2165V103.411H96.5086V18.2165H92.2495Z"></path>
				<path d="M101.735 18.2199V103.415H105.994V18.2199H101.735Z"></path>
			</g>
		</svg>
	</div>
	<div class="layer layer-10">
		<svg
			width="53"
			height="48"
			viewbox="0 0 53 48"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				d="M21.5295 5.85179L52.1481 36.4704L10.3223 47.6776L21.5295 5.85179Z"
			></path>
		</svg>
	</div>
</section>
<!-- Section Official Sponsors-->
<section
	class="parallax-container section"
	data-parallax-img="images/bg-parallax-04-1894x1170.jpg"
>
	<div class="parallax-content section-lg context-dark text-center">
		<div class="container">
			<h6>Our sponsorships</h6>
			<h3>Official Sponsors.</h3>
			<div class="row row-30 row-lg-50 justify-content-center">
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor--><a
								class="sponsor"
								href="#"
								data-triangle=".sponsor-overlay"
							>
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img
										src="images/sponsor-01-117x70.png"
										alt=""
										width="117"
										height="70"
									/>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor--><a
								class="sponsor"
								href="#"
								data-triangle=".sponsor-overlay"
							>
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img
										src="images/sponsor-02-66x83.png"
										alt=""
										width="66"
										height="83"
									/>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor--><a
								class="sponsor"
								href="#"
								data-triangle=".sponsor-overlay"
							>
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img
										src="images/sponsor-03-119x33.png"
										alt=""
										width="119"
										height="33"
									/>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-sm-5 col-lg-3">
					<div class="wow">
						<div>
							<!-- Sponsor--><a
								class="sponsor"
								href="#"
								data-triangle=".sponsor-overlay"
							>
								<div class="sponsor-overlay"></div>
								<div class="sponsor-img">
									<img
										src="images/sponsor-04-116x68.png"
										alt=""
										width="116"
										height="68"
									/>
								</div>
							</a>
						</div>
					</div>
				</div>
				<div class="col-xl-12">
					<p class="font-weight-sbold font-secondary">
						<span class="wow" data-splitting
							>Don’t hesitate, contact us for better help and services.</span
						>
						<a class="link-inline wow fadeScale" href="#">View All Sponsors</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Countdown rectangle-->
<div
	class="countdown countdown-rect"
	data-countdown="data-countdown"
	data-to="2020-12-31"
>
	<div
		class="
			countdown-block
			box-with-triangle-right
			wow
			fadeScale
			countdown-block-days
		"
		data-wow-delay="0s"
		data-triangle=".countdown-block-overlay"
	>
		<div class="countdown-block-overlay"></div>
		<svg
			class="countdown-circle"
			x="0"
			y="0"
			width="200"
			height="237"
			viewbox="0 0 200 237"
			data-progress-days=""
		>
			<rect
				class="countdown-rect-bg"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
			<rect
				class="countdown-rect-fg clipped"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
		</svg>
		<div class="countdown-wrap">
			<div class="countdown-counter" data-counter-days="">00</div>
			<div class="countdown-title">days</div>
		</div>
	</div>
	<div
		class="
			countdown-block
			box-with-triangle-right
			wow
			fadeScale
			countdown-block-hours
		"
		data-wow-delay="0.125s"
		data-triangle=".countdown-block-overlay"
	>
		<div class="countdown-block-overlay"></div>
		<svg
			class="countdown-circle"
			x="0"
			y="0"
			width="200"
			height="237"
			viewbox="0 0 200 237"
			data-progress-hours=""
		>
			<rect
				class="countdown-rect-bg"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
			<rect
				class="countdown-rect-fg clipped"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
		</svg>
		<div class="countdown-wrap">
			<div class="countdown-counter" data-counter-hours="">00</div>
			<div class="countdown-title">hours</div>
		</div>
	</div>
	<div
		class="
			countdown-block
			box-with-triangle-right
			wow
			fadeScale
			countdown-block-minutes
		"
		data-wow-delay="0.25s"
		data-triangle=".countdown-block-overlay"
	>
		<div class="countdown-block-overlay"></div>
		<svg
			class="countdown-circle"
			x="0"
			y="0"
			width="200"
			height="237"
			viewbox="0 0 200 237"
			data-progress-minutes=""
		>
			<rect
				class="countdown-rect-bg"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
			<rect
				class="countdown-rect-fg clipped"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
		</svg>
		<div class="countdown-wrap">
			<div class="countdown-counter" data-counter-minutes="">00</div>
			<div class="countdown-title">minutes</div>
		</div>
	</div>
	<div
		class="
			countdown-block
			box-with-triangle-right
			wow
			fadeScale
			countdown-block-seconds
		"
		data-wow-delay="0.375s"
		data-triangle=".countdown-block-overlay"
	>
		<div class="countdown-block-overlay"></div>
		<svg
			class="countdown-circle"
			x="0"
			y="0"
			width="200"
			height="237"
			viewbox="0 0 200 237"
			data-progress-seconds=""
		>
			<rect
				class="countdown-rect-bg"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
			<rect
				class="countdown-rect-fg clipped"
				x="0"
				y="0"
				width="200"
				height="237"
			></rect>
		</svg>
		<div class="countdown-wrap">
			<div class="countdown-counter" data-counter-seconds="">00</div>
			<div class="countdown-title">seconds</div>
		</div>
	</div>
</div>

<!-- data-parallax-img="images/bg-parallax-03-1894x1662.jpg" -->
